{{ block content }}

<!--------- ONLY MODIFY instructions_text.html! --------->

<!--------- This file dynamically updates to blocks in instructions_text.html. --------->

<link rel="stylesheet" href="{% static 'global/style.css' %}">
<script src="{% static 'global/js/global.js' %}"></script>

<div class="experimental-screen">
    <div class="screen-card">
        <div class="experimental-header">
            <h2 class="header-title">Instructions</h2>
            <p class="header-text"></p>
        </div>
        <div class="experimental-content">
            <form method="post">
                <div class="instructions">
                    <div id="instruction-wrapper" class="instruction-wrapper">
                        {% include "intro/instructions_text.html" %}
                        {% include "intro/prequiz_text.html" %}
                        <div class="instruction-progress">
                            <span id="instruction-counter"></span>
                        </div>
                    </div>

                    <div class="instruction-controls">
                        <button type="button" id="prevBtn" class="next-button">
                            Back
                        </button>
                        <button type="button" id="nextBtn" class="next-button">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'global/js/instructions.js' %}"></script>
{{ endblock }}
