/* General Styles (Applied across all screens) */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}
.titles{
    text-align: center;
}
h1, h2, h3 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

strong {
    color: #4CAF50; /* Green for emphasis */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texting{
    width: 100%;

}

input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Slightly lighter border */
    border-radius: 4px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.bigting {
    text-align: center;
}

.next {
    text-align: center;
}

.instructions {
    text-align: center;
    max-width: 800px;
    align-items: center;
}

.listings {
    text-align: left;
    list-style-position: inside;
}

.errors {
    color: red;
    text-align: center;
    margin-top: 20px;
}  

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Slightly rounded edges */

}

.next-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Slightly rounded edges */
}

.next-button:hover {
    background-color: #007bb5;
}

/* Buttons General Styles */
.theme-button {
    background-color: #9fa29f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.theme-button:hover {
    background-color: #878987;
}

/* Bonus contents */
.split-button {
    background-color: #9fa29f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Slightly rounded edges */

}

.split-button:hover {
    background-color: #878987;
}

.split-button.active {
    background-color: #008CBA; /* Darker color */
}


.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}