{{ block content }} 
<!-- DYNAMIC -->

<link rel="stylesheet" href="{% static 'global/style.css' %}">

<div id="timer" style="font-size: 24px; text-align: center; width: 100px; height: 100px; border: 5px solid #A4C8E1; border-radius: 50%; display: flex; align-items: center; justify-content: center; position: fixed; top: 20px; right: 20px;">
    <span id="timerValue">{{bigtime}}</span>
</div><div ></div>
<div class="forms" style="display: none;">
    <form  method="post">
        <input type=" " id="correct-color1" value="{{subsession.correct_1}}">
        <input type=" " id="task-type1" value="{{subsession.font_1}}">
        <input type=" " id="distraction-color1" value="{{subsession.distraction_1}}">
        <input type=" " name="mistake_1" id="mistake_1">
        <input type=" " name="timeout_1" id="timeout_1" value="">
        <input type=" " id="start_1" name="start_1">
        <input type=" " id="finish_1" name="finish_1">
        <input type=" " id="selected_1" name="selected_1">
        <input type="" id="correct-color2" value="{{subsession.correct_2}}">
        <input type="" id="task-type2" value="{{subsession.font_2}}">
        <input type="" id="distraction-color2" value="{{subsession.distraction_2}}">
        <input type="" name="mistake_2" id="mistake_2">
        <input type="" name="timeout_2" id="timeout_2" value="">
        <input type="" id="start_2" name="start_2">
        <input type="" id="finish_2" name="finish_2">
        <input type="" id="selected_2" name="selected_2">
        <input type=" " id="correct-color3" value="{{subsession.correct_3}}">
        <input type=" " id="task-type3" value="{{subsession.font_3}}">
        <input type=" " id="distraction-color3" value="{{subsession.distraction_3}}">
        <input type=" " name="mistake_3" id="mistake_3">
        <input type=" " name="timeout_3" id="timeout_3" value="">
        <input type=" " id="start_3" name="start_3">
        <input type=" " id="finish_3" name="finish_3">
        <input type=" " id="selected_3" name="selected_3">
        <input type=" " id="bigtimeout" name="bigtimeout">
    </form>
    </div>

<div id="task1" style="text-align: center;">
    <h2 style="margin-bottom: 20px;">Practice Round <br><br> Task 1</h2>
    
    <div class="tasking1" id="tasking" style="height:70vh; display:flex; align-items:center; justify-content:center;">
        <div id="startDiv1" style="text-align:center;">
            <h3> {{if player.subsession.font_1 == 1 }} Click the Font Colour{{ elif player.subsession.font_1 == 0 }} Click the Spelled-out Colour {{else}} ERROR {{endif}}</h3><br><br>
            <button type="button" id="startButton" style="font-size:24px" onclick="runstart('1'); bigtimer();triggerTimer()">Start</button>
        </div>
        <div id="taskDiv1" style="display:none; text-align:center;">
            <!-- Word displayed in the color of distraction_1 and showing the color name from correct_1 -->

            <div id="wordDiv1" style="font-size:200px; margin-bottom:70px;">
                <h1></h1>
            </div>

            <!-- Buttons to choose the color that matches the word's meaning -->
            <div id="colorsDiv1" style="display:flex; justify-content:center; gap:10px;">
                <button type="button" class="colorButton" id="button1" onclick="colourcheck('#009E73','1'); captureTimestamp('finish_1'); setValue('selected_1','#009E73'); nexttask('1');setValue('timeout_1',0)" style="background-color: #009E73; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button2" onclick="colourcheck('#56B4E9','1'); captureTimestamp('finish_1'); setValue('selected_1','#56B4E9'); nexttask('1');setValue('timeout_1',0)" style="background-color:#56B4E9; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button3" onclick="colourcheck('#F0E442','1'); captureTimestamp('finish_1'); setValue('selected_1','#F0E442'); nexttask('1');setValue('timeout_1',0)" style="background-color:#F0E442; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button4" onclick="colourcheck('#CC79A7','1'); captureTimestamp('finish_1'); setValue('selected_1','#CC79A7'); nexttask('1');setValue('timeout_1',0)" style="background-color:#CC79A7; width:50px; height:50px;"></button>
            </div>
        </div>
    </div>
</div>

<div id="task2" style="text-align: center; display: none;">
    <h2 style="margin-bottom: 20px;">Practice Round <br><br> Task 2</h2>
    
    <div class="tasking2" id="tasking" style="height:70vh; display:flex; align-items:center; justify-content:center;">
        <div id="startDiv2" style="text-align:center;">
            <h3> {{if player.subsession.font_2 == 1 }} Click the Font Colour{{ elif player.subsession.font_2 == 0 }} Click the Spelled-out Colour {{else}} ERROR {{endif}}</h3><br><br>
            <button type="button" id="startButton" style="font-size:24px" onclick="runstart('2')" >Start</button>
        </div>
        <div id="taskDiv2" style="display:none; text-align:center;">
            <!-- Word displayed in the color of distraction_2 and showing the color name from correct_2 -->

            <div id="wordDiv2" style="font-size:200px; margin-bottom:70px;">
                <h1></h1>
            </div>

            <!-- Buttons to choose the color that matches the word's meaning -->
            <div id="colorsDiv2" style="display:flex; justify-content:center; gap:10px;">
                <button type="button" class="colorButton" id="button1" onclick="colourcheck('#009E73','2'); captureTimestamp('finish_2'); setValue('selected_2','#009E73'); nexttask('2');setValue('timeout_2',0)" style="background-color: #009E73; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button2" onclick="colourcheck('#56B4E9','2'); captureTimestamp('finish_2'); setValue('selected_2','#56B4E9'); nexttask('2');setValue('timeout_2',0)" style="background-color:#56B4E9; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button3" onclick="colourcheck('#F0E442','2'); captureTimestamp('finish_2'); setValue('selected_2','#F0E442'); nexttask('2');setValue('timeout_2',0)" style="background-color:#F0E442; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button4" onclick="colourcheck('#CC79A7','2'); captureTimestamp('finish_2'); setValue('selected_2','#CC79A7'); nexttask('2');setValue('timeout_2',0)" style="background-color:#CC79A7; width:50px; height:50px;"></button>
            </div>
        </div>
    </div>
    <button id="nextButton" style="display: none;" type="submit">Next</button>
</div>

<div id="task3" style="text-align: center;display: none;">
    <h2 style="margin-bottom: 20px;">Practice Round <br><br> Task 3</h2>
    
    <div class="tasking3" id="tasking" style="height:70vh; display:flex; align-items:center; justify-content:center;">
        <div id="startDiv3" style="text-align:center;">
            <h3> {{if player.subsession.font_3 == 1 }} Click the Font Colour{{ elif player.subsession.font_3 == 0 }} Click the Spelled-out Colour {{else}} ERROR {{endif}}</h3><br><br>
            <button type="button" id="startButton" style="font-size:24px" onclick="runstart('3')" >Start</button>
        </div>
        <div id="taskDiv3" style="display:none; text-align:center;">
            <!-- Word displayed in the color of distraction_3 and showing the color name from correct_3 -->

            <div id="wordDiv3" style="font-size:200px; margin-bottom:70px;">
                <h1></h1>
            </div>

            <!-- Buttons to choose the color that matches the word's meaning -->
            <div id="colorsDiv3" style="display:flex; justify-content:center; gap:10px;">
                <button type="button" class="colorButton" id="button1" onclick="colourcheck('#009E73','3'); captureTimestamp('finish_3'); setValue('selected_3','#009E73'); nexttask('3'); setValue('timeout_3',0)" style="background-color: #009E73; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button2" onclick="colourcheck('#56B4E9','3'); captureTimestamp('finish_3'); setValue('selected_3','#56B4E9'); nexttask('3');setValue('timeout_3',0)" style="background-color:#56B4E9; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button3" onclick="colourcheck('#F0E442','3'); captureTimestamp('finish_3'); setValue('selected_3','#F0E442'); nexttask('3');setValue('timeout_3',0)" style="background-color:#F0E442; width:50px; height:50px;"></button>
                <button type="button" class="colorButton" id="button4" onclick="colourcheck('#CC79A7','3'); captureTimestamp('finish_3'); setValue('selected_3','#CC79A7'); nexttask('3');setValue('timeout_3',0)" style="background-color:#CC79A7; width:50px; height:50px;"></button>
            </div>
        </div>
    </div>

    <button id="nextButton" style="display: none;" type="submit">Next</button>
</div>

<div id="timeup" style="display: none; text-align: center; align-items: center;">
    <br><br><h1>You ran out of time...</h1>
    <br><br>
    <div class="next">
        <input type="submit" value="Next" class="next-button">
    </div>
</div>

<script>

    let timeoutId;
    // Big timer for ALL tasks
    function bigtimer() {
        // Duration of the timer in seconds
        var bigtime = {{bigtime}};
        setTimeout(function() {
            clearTimeout(timeoutId);
            // Hide the taskDiv
            document.getElementById('task1').style.display = 'none';
            document.getElementById('task2').style.display = 'none';
            document.getElementById('task3').style.display = 'none';

            document.getElementById('timeup').style.display = 'block';
            checkAndSetMistakeTimeoutAndOthers();
            setValue('bigtimeout', 1);
            // document.getElementById('nextButton').click();
        }, bigtime * 1000); // Convert seconds to milliseconds
    }

    function checkAndSetMistakeTimeoutAndOthers() {
    // Define the mistake and timeout field IDs
    const mistakeIds = ["mistake_1", "mistake_2", "mistake_3"];
    const timeoutIds = ["timeout_1", "timeout_2", "timeout_3"];
    
    // Define the start, finish, and selected field IDs
    const startIds = ["start_1", "start_2", "start_3"];
    const finishIds = ["finish_1", "finish_2", "finish_3"];
    const selectedIds = ["selected_1", "selected_2", "selected_3"];
    
    // Initialize a counter for empty fields
    let emptyFieldCount = 0;

    // Helper function to check and count empty fields
    function checkEmptyField(fieldId, defaultValue) {
        var element = document.getElementById(fieldId);
        if (element && element.value === "") {
            element.value = defaultValue;
            emptyFieldCount++;  // Increment the empty field counter
        }
    }

    // Check the mistake fields and set to 1 if empty
    mistakeIds.forEach(function(id) {
        checkEmptyField(id, 1);
    });

    // Check the timeout fields and set to 1 if empty
    timeoutIds.forEach(function(id) {
        checkEmptyField(id, 1);
    });

    // Check the start fields and set to -333 if empty
    startIds.forEach(function(id) {
        checkEmptyField(id, -333);
    });

    // Check the finish fields and set to -333 if empty
    finishIds.forEach(function(id) {
        checkEmptyField(id, -333);
    });

    // Check the selected fields and set to -333 if empty
    selectedIds.forEach(function(id) {
        checkEmptyField(id, -333);
    });

    // Set the number of empty fields as 'bigtimeoutfails'
    setValue('bigtimeout', 1);

}        

    // Start button commands
    function runstart(taskNumber) {
        // Capture the start time
        updateTextAndColor(taskNumber);
        captureTimestamp(`start_${taskNumber}`);
        
        // Show the task div and hide the start div
        document.getElementById(`startDiv${taskNumber}`).style.display = 'none';
        document.getElementById(`taskDiv${taskNumber}`).style.display = 'block';

        // // Duration of the timer in seconds
        // var duration = {{timer}};
        // // Set a timer
        // timeoutId = setTimeout(function() {
        //     // Hide the taskDiv
        //     document.getElementById(`startDiv${taskNumber}`).style.display = 'none';
        //     // Set values dynamically based on the taskNumber
        //     setValue(`mistake_${taskNumber}`, 1);
        //     setValue(`timeout_${taskNumber}`, 1);
        //     setValue(`finish_${taskNumber}`, -333);
        //     setValue(`selected_${taskNumber}`, -333);

        //     // Click the Next Button
        // //    document.getElementById('nextButton').click();
        //     nexttask(taskNumber)
        // }, duration * 1000); // Convert seconds to milliseconds
    }

    function nexttask(now){
        var next = parseInt(now) + 1 ; 
        // Cancel the smaller timer
        clearTimeout(timeoutId);

        if (now == 3) {
            setValue('timeout_3', 0)
            checkAndSetMistakeTimeoutAndOthers();
            setValue('bigtimeout', 0);
            document.getElementById('nextButton').click();
        }
        else {
            document.getElementById(`task${now}`).style.display = 'none';
            document.getElementById(`startDiv${next}`).style.display = 'none';
            document.getElementById(`task${next}`).style.display = 'block';

            setTimeout(function() {
            // Hide the taskDiv
            document.getElementById(`startDiv${next}`).style.display = 'block';

            }, 0.5 * 1000); // Convert seconds to milliseconds
        }
    }

    // TIMER 
    function startCountdown(bigtimer, display) {
        var timer = bigtimer -1 ; // Start from bigtimer value
        var interval = setInterval(function () {
            display.textContent = timer + " ";

            if (timer <= 0) {
                clearInterval(interval); // Stops the timer when it reaches zero
                display.textContent = "";
            }
            timer--;
        }, 1000);
    }

    function triggerTimer() {
        var bigtimer = {{bigtime}}; // Set bigtimer from dynamic value
        var display = document.getElementById('timer');
        startCountdown(bigtimer, display); // Start the countdown
    }


    // SET   VALUES
    function setValue(s, val) {
        document.getElementById(s).value = val;
    }

    // CAPTURE TIMESTAMP
    function captureTimestamp(fieldName) {
        // Capture the current timestamp
        let timestamp = new Date().toISOString();

        // Store the timestamp in the corresponding   input field
        document.getElementById(fieldName).value = timestamp;
    }


    // Page Loads
    window.addEventListener('load', function() {
        // Ensure this fires when the DOM is ready
        console.log("DOM fully loaded and parsed.");
        shuffleButtons();

    })


    function updateTextAndColor(taskNumber) {
        // Get the <p> element inside the 'wordDiv'
        const textElement = document.querySelector(`#wordDiv${taskNumber} h1`);

        // Get the selected correct color from the input element
        var correctColor = document.getElementById(`correct-color${taskNumber}`).value;

        // Get the distraction color from the input element
        var distractionColor = document.getElementById(`distraction-color${taskNumber}`).value;

        // Get the font toggle value (1 = font color based on correct color, 0 = text content based on correct color)
        var font = document.getElementById(`task-type${taskNumber}`).value;

        // Check if 'font' is 1, then correctColor affects the text color, distractionColor affects the content
        if (font == "True") {
            // Set the text color based on the correct color
            textElement.style.color = correctColor;

            // Set the text content based on the distraction color
            if (distractionColor == "#009E73") {
                textElement.textContent = 'GREEN';
            } else if (distractionColor == "#56B4E9") {
                textElement.textContent = 'BLUE';
            } else if (distractionColor == "#F0E442") {
                textElement.textContent = 'YELLOW';
            } else if (distractionColor == "#CC79A7") {
                textElement.textContent = 'PINK';
            } else {
                textElement.textContent = 'UNKNOWN COLOR';
            }

        } else {
            // Set the text content based on the correct color
            if (correctColor == "#009E73") {
                textElement.textContent = 'GREEN';
            } else if (correctColor == "#56B4E9") {
                textElement.textContent = 'BLUE';
            } else if (correctColor == "#F0E442") {
                textElement.textContent = 'YELLOW';
            } else if (correctColor == "#CC79A7") {
                textElement.textContent = 'PINK';
            } else {
                textElement.textContent = 'UNKNOWN COLOR';
            }

            // Set the text color based on the distraction color
            textElement.style.color = distractionColor;
        }
    }


    function colourcheck(C,taskNumber){
        var correctColor = document.getElementById(`correct-color${taskNumber}`).value;
        if (correctColor == C) {
            // Correct color clicked, set mistake_1 to 0
            setValue(`mistake_${taskNumber}`, 0);
        } else {
            // Incorrect color clicked, handle accordingly
            setValue(`mistake_${taskNumber}`, 1);
        }
    }

    // Shuffle the button order
    function shuffleButtons() {
        var container = document.getElementById('colorsDiv');
        var buttons = Array.from(container.getElementsByClassName('colorButton'));
        
        // Shuffle the array of buttons
        buttons.sort(() => Math.random() - 0.5);

        // Remove existing buttons
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // Append shuffled buttons
        buttons.forEach(button => container.appendChild(button));
    }
</script>
<!-- {{ form.errors }} -->

{{ endblock }}