{{block content}}
<link rel="stylesheet" href="{% static 'global/style.css' %}">

<div class="bigting">
    <h1 style="margin-bottom: 20px;">
{{ if player.id_in_group == 1 }}
    {% if player.group.field_maybe_none('report_p2') == 1 and player.group.field_maybe_none('report_p3') == 1 %}
    <i>Worker 1</i> and <i>Worker 2</i> reported making a mistake.
    {% elif player.group.field_maybe_none('report_p2') == 1 %}
    <i>Worker 1</i> reported making a mistake.
    {% elif player.group.field_maybe_none('report_p3') == 1 %}
    <i>Worker 2</i> reported making a mistake.
    {% else %}
        No worker reported a mistake.
    {% endif %}
    </h1>
    <p>Please select a project to go ahead with:</p>

    <div class="buttons" style="margin-top: 30px;">
        <form method="post" style="display: inline-block;">
            <input type="hidden" name="project" id="project">
            <button type="submit" class="theme-button" onclick="setValue('project','A')" style="margin-right: 5px;"> <b>Ambitious</b>  <br> Project</button>
            <button type="submit" class="theme-button" onclick="setValue('project','B')" style="margin-left: 5px;"><b>Backup </b><br> Project</button>
        </form>
    </div>
    <br>
    {% if player.group.field_maybe_none('report_p2') == 1 or player.group.field_maybe_none('report_p3') == 1 %}
        The Ambitious Project pays {{fail}} (since a mistake was made the project fails). <br><br>
        The Backup Project pays {{y}}.
    {% else %}
        The Ambitious Project pays {{x}} when it succeeds and 2 when it fails (wihout any mistakes it fails 20 percent of the time, with a mistake it always fails). <br><br>
        The Backup Project pays {{y}}.
    {% endif%}
</div>
{{else}}
<div>

    {% if player.group.field_maybe_none('report_p2') == 1 and player.group.field_maybe_none('report_p3') == 1 %}
        You and the other worker both reported making a mistake.
    {% elif player.group.field_maybe_none('report_p2') == 1 and player.id_in_group == 2 %}
        Only you reported making a mistake.
    {% elif player.group.field_maybe_none('report_p2') == 1 and player.id_in_group == 3 %}
        Only the other worker reported making a mistake.
    {% elif player.group.field_maybe_none('report_p3') == 1 and player.id_in_group == 3 %}
        Only you reported making a mistake
    {% elif player.group.field_maybe_none('report_p3') == 1 and player.id_in_group == 2 %}
        Only the other worker reported making a mistake.
    {% else %}
        None of the workers reported a mistake.
    {% endif %}
    <br><br>
</div>

<div class="next">
    <input type="submit" value="Next" class="next-button">
</div>

{{endif}}


<script src="{% static 'global/js/global.js' %}"></script>
{{endblock}}
